/* client/src/styles/Admin.css */

.admin-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.admin-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.admin-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* THIS IS THE KEY */
}

.admin-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #2d2d2d;
}

/* BODY (sidebar + content) */
.admin-body {
    display: flex;
    flex: 1;
    min-height: 0;
    width: 100%;
}

.admin-table-container {
    width: 100%;
    overflow-x: auto;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    background: 1e1e1e;
    color: white;
    width: fit-content;
}

.admin-table th,
.admin-table td {
    padding: 12px;
    border: 1px solid #ddd;
    background: #2d2d2d;
    color: white;
    text-align: left;
}

.admin-table th {
    background: #1e1e1e;
    color: white;
}

.admin-table tr:nth-child(even) {
    background: #f5f5f5;
}

.admin-table tr:hover {
    background: #eee;
}

.admin-edit{
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
    width: 50%;
}

.admin-edit input{
    border-radius: 10px;
    height: 25px; 
    margin-bottom: 10px;
    background-color: #2d2d2d;
    color: white;
    display: flex;

}

.admin-edit button{
    border-radius: 10px;
    height: 25px; 
    margin-bottom: 10px;
    display: flex;

}

.action-btn {
    padding: 6px 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 70px;
}

.approve-btn {
    background-color: green;
    color: white;
    padding: 5px;
    width: 50%;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.approve-btn:hover {
    background-color: rgb(0, 202, 0);
    color: white;
    margin-right: 10px;
}

.reject-btn {
    background-color: red;
    color: white;
    padding: 5px;
    width: 50%;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.reject-btn:hover{
    background-color: rgb(255, 49, 49);
    color: white;
}