/* client/src/styles/AdminSidebar.css */

.admin-sidebar {
    width: 180px;
    flex-shrink: 0;
    background: #1e1e1e;
    color: white;
    display: flex;
    flex-direction: column;
}

.admin-sidebar h2 {
    margin-bottom: 30px;
    text-align: center;
}

.admin-sidebar a {
    color: white;
    text-decoration: none;

    padding: 12px;
    margin-bottom: 10px;

    border-radius: 8px;
}

.admin-sidebar a:hover {
    background: #444;
}

/* menu */
.nav-link {
    position: absolute;
    right: 20px;
    background: #333;
    display: none;
    padding: 15px;
    border-radius: 10px;
    min-width: 180px;
}

.nav-link.active {
    display: flex;
}

.admin-sidebar button{
    border-radius: 8px;
    color: white;
    padding: 10px;
    text-decoration: none;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

.admin-sidebar button:hover{
    background: #ff8080;
}

/* OVERLAY */
.overlay {
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}

.admin-hamburger {
    display: block;
    font-size: 24px;
    position: fixed;
    background: none;
    cursor: pointer;
    top: 10px;
    left: 10px;
    border: none;
    z-index: 2000;
    color: white;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}
/* MOBILE HIDDEN BY DEFAULT */
@media (max-width: 768px) {

    .admin-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 60px;
        transform: translateX(-100%);
        height: 100vh;
        width: 240px;

        transform: translateX(-100%);
        transition: transform 0.3s ease;

        z-index: 1000;
    }

    .admin-sidebar.open {
        transform: translateX(0);
    }

    .admin-content {
        margin-left: 0;
        width: 100%;
    }
}